ul {
	list-style-type: none;
	background-color:brown;
	margin:0;
	padding:0;
	overflow:hidden;
}
li a.other{
	float:left ;
}
li a{
	display:block;
	color:white;
	text-align:center;
	text-decoration:none ;
	padding:16px ; 
	font-family:calibri;
}

li a.name{
	float:right;
}

li a:hover{
	background-color:black;
}

div {
	background-color : black;
	color:white;
	font-family:calibri;
	padding:20px;
}




